<app-breadcrubs-map title="mapas de profesores" subtitle="mapas"></app-breadcrubs-map>

<div id="mapa"></div>

<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
    <h1>Ubicacion de los profesores</h1>
  </div>
</div>

<div class="row container">
  <div class="col-2"></div>

  <div class="col">

    <div class="row">

      <div class="col-4 mb-2" *ngFor="let profesores of profesores">

        <div class="card">
          <app-mini-mapa [lngLat]="profesores.lngLat" class="card-img-top"></app-mini-mapa>
          <div class="card-body">
            <h5 class="card-title"> {{ profesores.Nombre }} </h5>
            <small class="rating">rating: {{profesores.rating}} </small>
            <p class="card-text"> {{ profesores.category }} </p>
            <p class="card-text"> {{ profesores.descripcion }} </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<app-banner-area></app-banner-area>